@using JobOpenings.Models;

<h1>Hiring</h1>


    <p>Title: @Model.GetTitle()</p>
    <p>Description: @Model.GetDescription()</p>
    <p>Contact Name: @Model.GetContactName()</p>
    <p>Contact Email: @Model.GetContactEmail()</p>
    <p>Contact Phone: @Model.GetContactPhone()</p>
